
$sans-font-family: Arial, sans-serif !default;

$serif-font-family: "Trebuchet MS", "Times New Roman", Times, serif !default;

$font-master: $sans-font-family !default;

$default-font-family: $sans-font-family !default;

$font-template: Giddyup Std;

$nav-size: 14px;

$icon-size: 30px;

$text-banner-size: 42px;

$section-title-size: 30px;

$section-content-size: 14px;

$section-content-one-size: 28px;

$section-categorie-size: 24px;


