meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
title Magic space

meta(name="description", content="")

//- Facebook metas
meta(property="og:site_name", content="")
meta(property="og:url", content="")
meta(property="og:title", content="")
meta(property="og:description", content="")
meta(property="og:image", content="")
meta(property="og:type", content="website")

//- Favicon
// link(rel="icon", type="image/png", href="Layout/Icons/Favicon/favicon.png")

link(rel="stylesheet" href="../../style/global.css")
