script(src="../../script/jquery.js")
script(src="../../script/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js")
script(src="../../script/utilities.js")
