.footer {
  text-transform: uppercase;
  font-family: $font-template;
  font-size: 12px;
  background-color: $grey;
  color: $fine-black;
  font-weight: bold;
  &__grid {
    margin-left: 365px;
    margin-right: 365px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &__list-item {
     display: inline-block;
  }
  &__list-item:after {
      content: ' |';
  }
}
